extends index.pug
block bank__image
  img(src="images/ail_bank.png", alt="Айыл банк")
block bank__title
  h2.content__title.content__title_red-bank Айыл Банк
block content__first
  .content__description
    h6.content__title.content__title_green
      | Покупайте любые товары в кредит! Неограниченный Shopping в Интернет-маркетплейсе Svetofor с потребительским кредитованием от Айыл Банк
    .desc
      p
        | Интернет-маркетплейс Svetofor предлагает всем покупателям не откладывать покупки в дальний ящик, если у Вас недостаточно средств для покупки, Вы можете купить в кредит. Получить кредит в Бишкеке и в Кыргызстане в целом становится все проще - выбирайте любые товары, предлагаемые Интернет-маркетплейсом на сумму от 5 000 до 100 000 сомов и оплачивайте товары в течение периода до 18 месяцев. Взять в кредит может каждый от 21 до 65 лет.
      h6.content__title.content__title_green Выгодность кредита от БТА Банка:
    ul.bank_page__list
      li.bank_page__items БЕЗ первоначального взноса
      li.bank_page__items БЕЗ поручительства, по кредитам до 50 000 сом
      li.bank_page__items Быстрое рассмотрение - течение одного дня (для сотрудников зарплатных проектов «Айыл Банка»- в течении часа)
block content__second
  h6.content__title.content__title_green Условия получения кредита от Банка КЫРГЫЗСТАН:
  ul.bank_page__list
    li.bank_page__item От 26% годовых*
    li.bank_page__item Без Первоначального взноса**
  h6.content__title.content__title_green Требования к заемщику для кредита от Айыл Банка:
  ul.bank_page__list
    li.bank_page__item Возраст - 21-65 лет
    li.bank_page__item Наличие постоянного подтверждаемого дохода
  h6.content__title.content__title_green Список необходимых документов для оформления кредита от Айыл Банка:
  ul.bank_page__list
    li.bank_page__item Паспорт;
    li.bank_page__item Если клиент, работает по найму- необходимо предоставить документ, подтверждающий доходы;
    li.bank_page__item Если клиент - индивидуальный предприниматель, требуется предоставить патент или свидетельство;
  table.bank__table.m-top
    tr
      td.green__data Клиент
      td
        ul.table__list
            li - физическое лицо, работающее по найму, получающий ежемесячную заработную плату;
            li - индивидуальный предприниматель, работающий на основе патента или свидетельства;
    tr
      td.green__data Возраст Клиента
      td от 21 года
    tr
      td.green__data Валюта кредита
      td кыргызский сом
    tr
      td.green__data Сумма кредита
      td от 5 000 до 100 000 сом
    tr
      td.green__data Срок кредита
      td до 18 месяцев
    tr
      td.green__data Погашение кредита
      td Ежемесячно, аннуитетные платежи, которая включает основную сумму кредита и начисленные проценты
    tr
      td.green__data Залоговое обеспечение
      td Приобретаемый в кредит товар или имущество
    tr
      td.green__data Процентная ставка
      td 
        ul.table__list
          li -26%* годовых, если имеется первоначальный взнос в размере 20% и выше;
          li -30%** годовых, без первоначального взноса
          li * (для сотрудников зарплатных проектов «Айыл Банка» -действует минус 2%)
      tr
        td.green__data Комиссия за предоставление кредита
        td 2% от суммы кредита (мин 200 сом)
      tr
        td.green__data Срок рассмотрения заявки
        td в течение одного дня (для сотрудников зарплатных проектов «Айыл Банка»- в течении часа)
      tr
        td.green__data Первоначальный взнос
        td
          ul.table__list
            li -Без первоначального взноса
            li -Первоначальный взнос в размере свыше 20% от стоимости товара
      tr
        td.green__data Обязательное условие
        td Приобретаемый в кредит товар или имущество
      tr
        td.green__data Поручительство
        td До 50 000 сом без поручительства
  h6.content__title.content__title_green 3 шага для получения товара в кредита от Айыл Банка с онлайн-заявкой:
  ol.ordered_light__list
    li.ordered_light__item Выбрать товар на сайте svetofor.info и нажать на кнопку «Купить в кредит», выбрать Айыл Банк, заполнить и отправить онлайн-заявку
    li.ordered_light__item В случае получения положительного предварительного ответа от Банка, менеджер по продажам магазина Svetofor высылает Вам счет на оплату и Вы с документами отправляетесь в Айыл Банк
    li.ordered_light__item Подписать договора в филиале Айыл Банк и внести первоначальный взнос за приобретаемую технику в кассу Банка
    li.ordered_light__item Получить в Банке чек об оплате и забрать свою покупку в магазине или заказать товар на доставку в любое удобное для Вас время и место по телефонам (312) 97-69-97; (555) 93-88-33; (773) 93-88-33; (700) 93-88-33.
  h6.content__title.content__title_green 3 шага для получения товара в кредита от Айыл Банка без онлайн заявки:
  ol.ordered_light__list
    li.ordered_light__item Выбрать товар в пункте выдачи заказов Svetofor по адресу: ТЦ Берен Голд 3 этаж, офис 303, 301 (Режим работы: 09.00-19.00 без перерыва) и получить счет на оплату у Консультанта
    li.ordered_light__item Принести в Банк все необходимые документы и дождаться рассмотрение заявки Банком
    li.ordered_light__item В случае положительного решения кредитного комитета, оплатить первоначальный взнос в кассу Банка и обратиться в пункт выдази заказов за товаром
    li.ordered_light__item Оформить электронную заявку на потребительский кредит можно прямо на сайте svetofor.info на странице товара
    li.ordered_light__item *В зависимости от индивидуального случая и Вашей кредитной истории, банк может запрашивать дополнительные документы, такие как:
      ul.bank_page__list
        li.bank_page__item_light Свидетельство о браке
        li.bank_page__item_light Свидетельство о рождении детей
  h6.content__title.content__title_green Кто может получить кредит в Айыл Банк?
  ul.bank_page__list
    li.bank_page__item физическое лицо, работающее по найму, получающий ежемесячную заработную плату;
    li.bank_page__item индивидуальный предприниматель, работающий на основе патента или свидетельства.
block content__third
  h6.content__title.content__title_green По всем вопросам Вы можете обратиться по телефонам:
  ul.bank_page__list
    li.bank_page__item Call-центр интернет-маркетплейса Svetofor: (312) 97-69-97; (555) 93-88-33; (773) 93-88-33; (700) 93-88-33 
    li.bank_page__item Call-центр Банка: (312) 68 00 00, Whats App 0770551100, Aibek.sultanov@ab.kg или по т. 0312 66 22 58
  .desc.desc__contacts
    a(href='https://ab.kg/ru/affilates/' target='_blank') Адреса всех филиалов Айыл Банка
    