extends index.pug
block bank__image
  img(src="images/baityshym.png", alt="Банк Бай-Тушум")
block bank__title
  h2.content__title.content__title_red-bank от Банка Бай-Тушум
block content__first
  .content__description
    h6.content__title.content__title_green ПОКУПАЙ ЛЮБОЙ ТОВАР В РАССРОЧКУ через «БАНК БАЙ ТУШУМ» БЫСТРО, ВЫГОДНО ПРОСТО!!!
    .desc
      p Сделать покупку в онлайн маркетплейсе Svetofor в рассрочку теперь легко! Банк «Бай-Тушум» предлагает оформить за 1 день специальный кредит для покупки понравившегося Вам товара в сумме до 75 000 сом под залог приобретаемого товара, а в сумме свыше 75 000 сом под поручительства 1 лица и залог приобретаемого товара.
    h6.content__title.content__title_green Почему это быстро, выгодно, просто с Банком Бай-Тушум?
    ul.bank_page__list
      li.bank_page__items БЫСТРО – всего один день, для совершения покупки (кредит одобряется в течение одного дня)
      li.bank_page__items ВЫГОДНО – фактическая наценка всего 17,5 % или 1.4 % в месяц, Без поручительства (до 75 000 сом)
      li.bank_page__items ПРОСТО – всего два документа, копия паспорта и справка о заработной плате (или патент за 3 месяца)
    h6.content__title.content__title_green Три способа вносить платежи не «тратя» время.
  .desc
    p Время – деньги! Для удобства клиентов Банк предлагает использовать новые способы погашения рассрочки:
  ul.bank_page__list
    li.bank_page__items Через «Интернет банкинг»
    li.bank_page__items Через терминалы «Мобильник» (за 24 часа до даты погашения по графику)
    li.bank_page__items Через «Почтовые отделения» (за 24 часа до даты погашения по графику)
block content__second
  h6.content__title.content__title_green Условия предоставления кредита:
  ul.bank_page__list
    li.bank_page__items Валюта: сом;
    li.bank_page__items Сумма: от 5 000 до 150 000 сом;
    li.bank_page__items Процентная ставка: 31%
    li.bank_page__items Первоначальный взнос:
    li.bank_page__items 0% от стоимости приобретаемого товара при сумме кредита до 75 000 сом включительно
    li.bank_page__items 20 % от стоимости приобретаемого товара при сумме кредита свыше 75 000 сом
    li.bank_page__items Срок кредитования: от 3 до 18 месяцев;
    li.bank_page__items Обеспечение:
    li.bank_page__items До 75 000 сом включительно, под залог приобретаемого товара
    li.bank_page__items По кредитам свыше 75 000 сом – под залог приобретаемого товара и поручительство 1 лица.
    li.bank_page__items Выдача кредита осуществляется безналичным расчетом, путем перечисления денежных средств на расчетный счет продавца.
  h6.content__title.content__title_green Требования к заемщикам для кредита от Банка Бай-Тушум:
  ul.bank_page__list
    li.bank_page__items Возраст: от 22 до 65 лет;
    li.bank_page__items Наличие постоянного дохода
    li.bank_page__items Опыт предпринимательской деятельности/стаж работы для наемных работников не менее 3-х месяцев
  h6.content__title.content__title_green Необходимые документы для оформления кредита от Банка Бай-Тушум:
  .desc
    p Список документов
  ul.bank_page__list
    li.bank_page__items Копия паспорта заемщика и супруга (и) при наличии (по кредитам до 50 000 сом данные супруга/супруги, для проверки в КИБ – не требуются)
    li.bank_page__items Справка о заработной плате за последние не менее 3-х месяцев;
  .desc
    p Дополнительные документы для предприримателей
  ul.bank_page__list
    li.bank_page__items Копия свидетельства чп/патента (при наличии);
    li.bank_page__items Документы, способные подтвердить факт получения доходов (обороты по кассовой книге, записи внутреннего учета)
    li.bank_page__items На нашем сайте Svetofor  выберите интересующий Вас товар и узнайте его стоимость
    li.bank_page__items Предварительно рассчитайте ежемесячный взнос, воспользовавшись кредитным калькулятором на сайте Банка, выбрав калькулятор «Товар в рассрочку»
    li.bank_page__items Подготовьте следующие документы: копию паспорта, справку о заработной плате за последние 12 месяцев (непрерывный стаж должен быть не менее 3 месяцев)
    li.bank_page__items Банк примет решение о предоставлении Вам кредита в течение 1 рабочего дня.
block content__third
  h6.content__title.content__title_green По всем вопросам Вы можете обратиться по телефонам:
  ul.bank_page__list
    li.bank_page__items Call-центр Банка «Бай-Тушум»: (312) 905 805
    li.bank_page__items Call-центр интернет-маркетплейса «Svetofor»: (312) 97-69-97;  (555) 93-88-33;  (773) 93-88-33;  (700) 93-88-33
    a(href='https://www.baitushum.kg/ru/branches' target='_blank') Адрес и контактный телефон ближайшего офиса Банка «Бай-Тушум» Вы сможете найти на сайте Банка





  