extends index.pug
block bank__image
  img(src="images/bta-bank.png", alt="БТА Банк")
block bank__title
  h2.content__title.content__title_red-bank от банка БТА
block content__first
  .content__description
    h6.content__title.content__title_green
      | Покупайте любые товары в кредит! Неограниченный Shopping в Интернет-маркетплейсе Svetofor с потребительским кредитованием от ЗАО БТА Банк
    .desc
      p
        | Интернет-маркетплейс Svetofor предлагает всем покупателям не откладывать покупки в дальний ящик, если у Вас недостаточно средств для покупки, Вы можете купить в кредит. Получить кредит в Бишкеке и в Кыргызстане в целом становится все проще - выбирайте любые товары, предлагаемые Интернет-маркетплейсом на сумму от 5 000 до 150 000 сомов и оплачивайте товары в течение периода от 3 до 24 месяцев. Взять в кредит может каждый от 21 до 65 лет
    h6.content__title.content__title_green Выгодность кредита от БТА Банка:
    ul.bank_page__list
      li.bank_page__items БЕЗ первоначального взноса, по кредитам до 100 000 сом
      li.bank_page__items БЕЗ поручительства, по кредитам до 50 000 сом
      li.bank_page__items БЕЗ справки с места жительства
block content__second
  h6.content__title.content__title_green Условия получения кредита от Банка КЫРГЫЗСТАН:
  ul.bank_page__list
    li.bank_page__item От 24% годовых*
    li.bank_page__item Без Первоначального взноса**
  .desc
    p *Держателям зарплатных и пенсионным карт ЗАО БТА Банк процентная ставка - 24% годовых, для остальной категории клиентов от <span class="throught__text">28% - 32%</span> <span class="red__text">25%</span> годовых
    p **по кредитам свыше 100 000 сом первоначальный взнос - от 20%
  h6.content__title.content__title_green Требования к заемщику для кредита от БТА Банка:
  ul.bank_page__list
    li.bank_page__item Возраст - 21-65 лет
    li.bank_page__item Наличие постоянного подтверждаемого дохода
  h6.content__title.content__title_green.m-top Условия кредитования БТА Банка:
  table.bank__table
    tr
      td.green__data Сумма кредита
      td от 5000 до 150 000 сом
    tr
      td.green__data Срок кредита
      td 
        ul.table__list
          li По кредитам в размере:
          li от 5000 до 50 000 сом - от 3 до 12 месяцев;
          li от 50 001 до 100 000 сом - от 3 до 18 месяцев;
          li от 100 001 до 150 000 сом - от 3 до 24 месяцев;
    tr
      td.green__data Ставка процента
      td 24% - участникам зарплатных проектов и держателям пенсионных карт ЗАО БТА Банк от 28% - 32% 25% - для остальной категории граждан (также предусмотрены скидки для повторных клиентов Банка)
    tr
      td.green__data Первоначальный взнос
      td По кредитам до 100 000 сом первоначальный взнос не требуется, свыше 100 000 сом - 20% от суммы приобретения
    tr
      td.green__data Обеспечение
      td 
        ul.table__list
            li до 50 000 сом - приобретаемое имущество
            li свыше 50 000 сом - приобретаемое имущество и поручительство
    tr
      td.green__data Срок рассмотрения заявки
      td В течении 3-х рабочих часов, после подачи заявки и всех документов.
    tr
      td.green__data Досрочное погашение
      td Без комиссий
  h6.content__title.content__title_green.m-top Условия кредитования БТА Банка:
  table.bank__table.bank__table_other
    thead
      td.green__data Сумма кредита
      td.green__text Для участников зарплатных проектов и держателям пенсионных карт ЗАО БТА Банк 
      td.green__text Для всей категории клиентов.
    tr
      td.green__data до 50 000
      td Паспорт
      td
        ol.table__list_ordered
          li Паспорт
          li Документы подтвержающие доход
    tr
      td.green__data свыше 50 000
      td
        ol.table__list_ordered
          li Паспорт заемщика, его супруги (-га), свидетельство о браке
          li Паспорт Поручителя, его супруги(-га),свидетельство о браке
          li Документы подтвержающие доход Поручителя
      td
        ol.table__list_ordered
          li Паспорт заемщика, его супруги (-га), свидетельство о браке
          li Паспорт Поручителя, его супруги(-га),свидетельство о браке
          li Документы подтвержающие доход Поручителя
  p ***Все вышеперечисленные документы Вы можете отправить на наш WhatsApp номер - +996 559 90 50 88.
  h6.content__title.content__title_green Шаги для получения товара в кредит с онлайн-заявкой от Банка КЫРГЫЗСТАН:
  ol.ordered_light__list
    li.ordered_light__item Выбрать товар на сайте svetofor.info
    li.ordered_light__item На карточке выбранного товара нажать на кнопку «Купить в кредит», выбрать Банк КЫРГЫЗСТАН, заполнить и отправить онлайн-заявку
    li.ordered_light__item Дождаться ответа от Банка о решении предоставления Вам кредита (обычно это занимает от 10 минут до 2 часов)
    li.ordered_light__item В случае получения положительного ответа от Банка, позвонить по номеру и забронировать выбранный товар
    li.ordered_light__item
      | Подписать требуемые договора в филиале Банка КЫРГЫЗСТАН
    li.ordered_light__item
      | Внести первоначальный взнос за приобретаемую технику в кассу Банка
    li.ordered_light__item
      | Получить в Банке чек об оплате и забрать свою покупку в пункте выдачи заказов или заказать товар на доставку в любое удобное для Вас время и место по телефонам (312) 97-69-97; (555) 93-88-33; (773) 93-88-33; (700) 93-88-33
  h6.content__title.content__title_green Шаги для получения товара в кредит с онлайн-заявкой от Банка КЫРГЫЗСТАН:
  ol.ordered_light__list
    li.ordered_light__item
      | Обратиться в пункт выдачи заказов Svetofor по адресу: ТЦ Берен Голд 3 этаж, офис 303, 301 (Режим работы: 09.00-19.00 без перерыва) и получить чек на оплату
    li.ordered_light__item
      | Собрать все необходимые документы и отправиться в Банк КЫРГЫЗСТАН
    li.ordered_light__item
      | Дождаться ответа от Банка о решении предоставления Вам кредита (обычно это занимает от 10 минут до 2 часов)
    li.ordered_light__item
      | В случае положительного ответа от Банка, подписать требуемые договора в филиале Банка КЫРГЫЗСТАН
    li.ordered_light__item
      | Внести первоначальный взнос за приобретаемую технику в кассу Банка КЫРГЫЗСТАН
    li.ordered_light__item
      | Получить в Банке чек об оплате и забрать свою покупку в пункте выдачи заказов или заказать товар на доставку в любое удобное для Вас время и место по телефонам (312) 97-69-97; (555) 93-88-33; (773) 93-88-33; (700) 93-88-33 
block content__third
  h6.content__title.content__title_green По всем вопросам Вы можете обратиться по телефонам:
  ul.bank_page__list
    li.bank_page__item Call-центр ЗАО БТА Банк: : (312) 90-50-50, 90-54-66, 90-15-30, 0559 90 50 88 (WhatsApp) 
    li.bank_page__item Call-центр интернет-маркетплейса «Svetofor»: (312) 97-69-97; (555) 93-88-33; (773) 93-88-33; (700) 93-88-33
  .desc.desc__contacts
    p
      b Адрес ЗАО БТА Банк: 
      |Центральный офис в г. Бишкек ул. Московская, 118 Офис в г. Ош: пр. И. Раззакова, 19
    a(href='https://www.bta.kg/ru/branches/' target='_blank') Адреса всех филиалов ЗАО БТА Банк

