extends index.pug
block bank__image
  img(src="images/doc_bank.png", alt="alt")
block bank__title
  h2.content__title.content__title_red-bank от Дос-Кредобанка
block content__first
  h6.content__title.content__title_green Покупайте любые товары в кредит за 15 минут и не выходя из магазина Svetofor в любой день недели!
  h6.content__title.content__title_green Такой быстрый кредит доступен для покупателей Svetofor в Бишкеке, Оше и Нарыне!
  .desc
      p
        | Получить кредит в Бишкеке и в Кыргызстане становится все проще - выбирайте любые товары, предлагаемые Интернет-маркетплейсом на сумму от 1 000 до 250 000 сомов и оплачивайте товары в течение периода от 3 до 12 месяцев. Взять в кредит может каждый от 20 до 65 лет. Для Вашего удобства мы работаем каждый день без выходных, Вы можете получить кредит даже в субботу и в воскресенье.
  h6.content__title.content__title_green Выгодность кредита от от Дос-Кредобанка:
  ul.bank_page__list
    li.bank_page__items Номинальная ставка: 30% годовых
    li.bank_page__items Без поручительства
    li.bank_page__items Без справки с местожительства – минимальный пакет документов
    li.bank_page__items Ежемесячное погашение
    li.bank_page__items Не нужно приходить в Банк
    li.bank_page__items Для приобретения бытовой техники, оргтехники, сотовых телефонов и планшетов и др. электроники в личное пользование
block content__second
  h6.content__title.content__title_green Условия кредита от Дос-Кредобанка
  ul.bank_page__list
    li.bank_page__item Возраст заемщика: от 20 до 65 лет
    li.bank_page__item Срок кредитования: от 3 до 12 месяцев
    li.bank_page__item Сумма финансирования: от 1 000 до 250 000 сом
    li.bank_page__item Срок рассмотрения заявки: в течение 15 минут
    li.bank_page__item Первоначальный взнос: от 10%
  h6.content__title.content__title_green Необходимые документы для оформления кредита от Дос-Кредобанка:
  ol.ordered_light__list
    li.ordered_light__item Паспорт заемщика
    li.ordered_light__item Справка о з/п заемщика за последние 6 мес.
  h6.content__title.content__title_green Шаги для получения товара в кредит от Дос-Кредобанка за 15 минут
  ol.ordered_light__list
    li.ordered_light__item
      |Собрать все необходимые документы
    li.ordered_light__item
      |Обратиться в Svetofor
    li.ordered_light__item
      |Наш специалист заполнит для Вас заявку и в течение 15 минут Вы получите ответ
    li.ordered_light__item
      |В случае получения положительного ответа, Вы сразу можете забрать свой товар!
    li.ordered_light__item
      |*В зависимости от индивидуального случая и Вашей кредитной истории, банк может запрашивать дополнительные документы, такие как:
      ul.bank_page__list
        li.bank_page__item_light Свидетельство о браке
        li.bank_page__item_light Свидетельство о рождении детей
block content__third
  h6.content__title.content__title_green По всем вопросам Вы можете обратиться по телефонам:
  ul.bank_page__list
    li.bank_page__item Call-центр «Svetofor»: (312) 97-69-97; (555) 93-88-33; (773) 93-88-33; (700) 93-88-33
  h6.content__title.content__title_green По вопросам связанным с потребительским кредитованием обращайтесь:
  ul.bank_page__list
    li.bank_page__item Адрес ОАО "Дос-Кредобанк" : Центральный филиал в г. Бишкек:  ул. Чуй 92
    li.bank_page__item Офис в г. Ош: ул. Ленина, 324
  .desc.desc__contacts
    a(href='https://www.dcb.kg/ru/departments-and-terminals/departments' target='_blank') Адреса всех филиалов Дос-Кредобанк
  h6.content__title.content__title_green Адреса пунктов выдачи заказов Svetofor, где можно оформить кредит от Дос-Кредобанка за 15 минут:
  ul.bank_page__list.bank_page__list_contacts
    li.bank_page__item_light
      a(href="https://www.google.kg/maps/place/Svetofor.info+%D0%BC%D0%B0%D1%80%D0%BA%D0%B5%D1%82%D0%BF%D0%BB%D0%B5%D0%B9%D1%81/@42.8762613,74.6109335,17z/data=!4m12!1m6!3m5!1s0x389eb7c12dabd0ed:0x2ed83088a15bfef8!2zU3ZldG9mb3IuaW5mbyDQvNCw0YDQutC10YLQv9C70LXQudGB!8m2!3d42.8762613!4d74.6131222!3m4!1s0x389eb7c12dabd0ed:0x2ed83088a15bfef8!8m2!3d42.8762613!4d74.6131222?hl=en" target="_blank") г. Бишкек, ТЦ Берен Голд 3 этаж, офис 303, 301 (без перерыва)
      .contact__block
        h6 Трафик работы
        span Пн-Пт с 9:00 до 20:00
        span Суббота с 10:00 до 19:00
        span Воскресенье с 10:00 до 18:00
    li.bank_page__item_light
      a(href="https://www.google.kg/maps/place/Svetofor+Osh,+Svetofor+%D0%B2+%D0%9E%D1%88%D0%B5/@40.5357361,72.8018673,17z/data=!3m1!4b1!4m5!3m4!1s0x38bdaea7eb981059:0x81979e275d215bc6!8m2!3d40.5357361!4d72.804056?hl=en&shorturl=1" target="_blank") г. Ош, ул Масалиева 48 А ТЦ Ош Сити, 1 этаж
      .contact__block
        h6 Трафик работы
        span Пн-Пт с 9:00 до 18:00
        span Сб. с 10:00 до 17:00
        span Воскресенье: выходной
    li.bank_page__item_light
      a(href="https://www.google.kg/maps/place/Svetofor+Naryn/@41.4297534,75.9909547,17z/data=!3m1!4b1!4m5!3m4!1s0x38906bd8a200eecf:0x190d7ecbcbbe6f59!8m2!3d41.4297534!4d75.9931434?hl=en&shorturl=1" target="_blank") г. Нарын, ТЦ "Чолпон", бутик №10
      .contact__block
        h6 Трафик работы
        span Пн-Пт с 9:00 до 18:00
        span Сб. с 10:00 до 17:00
        span Воскресенье: выходной
  
    